<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Логин</button>
</form>
<center>«Кроваво-черное ничто взмесило

Систему тел, спряженных в глуби тел,

Спряженных в глуби тем, там, в темноте

Спряженных тоже. Явственно до жути

Передо мной ударила из мути

Фонтана белоснежного струя.»<center>
</body>
</html>